footer a {

    text-decoration: none;
}

footer i {
    padding: 4px 0px;
}

.bg-dark {
    background-color: #212529!important;
}
.text-white {
    color: #fff!important;
}

.social{
    padding-bottom: 0!important;
    padding: 1rem!important;
}
.social-icon{
    margin: 0 20px;
}

.copyright{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem!important;
}