header{
    z-index: 1;
    transition: all 1s;
}
.nameh1{
    font-family: 'Sacramento';
    color: white;
    font-size: 45px;
}

header a {
    
    color:white;
    padding: 5px 15px;
    transition: border 1s ease; 
    border-bottom: solid 1px transparent;
}

header a:hover{
    color:white;
    border-bottom: solid 1px white;
    
}

header.navbar{
    width: 100%;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    flex-wrap: nowrap;
    align-items: center;
}


.links-full{
    display: none;
}
.drop-menu{
    display: block;
}
.drop-menu{
    line-height: 18px;
}
.onSmallLinks{
    display: none;
    position: absolute;
    width: 120px;
    right: 0;
    top: 0;
    
}
.nav-area{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(0,0,0, 0.85);
}
.drop-menu:hover + .onSmallLinks, .onSmallLinks:hover{
    display: block;
}

@media(min-width: 927px){
    .links-full{
        display: block;
    }
    .onSmallLinks{
        display: none;
    }
    .drop-menu{
        display: none;
    }
}

.navbar.fixHead{
    background-color: rgba(0,0,0, 0.85);
    padding: 2px 60px;
}


