.hero{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../img/bg/pexels-andrew-neel-2312369.jpg');
    /* background-image: url('../../img/bg/laptop-code.jpg'); */
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.hero-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}



.hero-content.hello{
    font-size: 37px;
}

.hero-content.i-am{

    margin-top:30px;
    font-size: 57px;
}
.hero-content.download-button
{
    margin-top: 50px;
}

.hero-chevron-down{
    color:white;
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
}

.hero-chevron-down .fa-chevron-down{
    border: solid 1px white;
    border-radius: 18px;
    padding: 26px 10px 5px;
    line-height: 20px;
}

.bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }